@model Demo.Models.LineItem

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Display</title>
</head>
<body>
    <fieldset>
        <legend>View Product Info::</legend>
    
        <div class="display-label">
            @Html.DisplayNameFor(model => model.Name) :
        
            @Html.DisplayFor(model => model.Name)
        </div>
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.Price) :
        
            @Html.DisplayFor(model => model.Price)
        </div>
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.Quantity) :
        
            @Html.DisplayFor(model => model.Quantity)
        </div>
    </fieldset>   
</body>
</html>
